@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: none;

  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
  transition: width 0.5s ease-out;
  transform: translateX(5px);
}
::-webkit-scrollbar:hover {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #e9e7e756;
}
::-webkit-scrollbar-thumb {
  background: #151515;
}

::selection {
  background: #c9c7c7;
  color: #292929;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow: overlay;
  background: #e9e7e7;
}

p {
  transition: none;
}

.return_button {
  width: 3.5vw;
  aspect-ratio: 1;
  display: flex;
  position: fixed;
  background: #292929;
  border-radius: 50%;
  top: 2vw;
  left: 4vw;
  z-index: 99;
  box-shadow: 0 0 1vw #00000000;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;

  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1),
    background 0.8s 0.33s cubic-bezier(0.25, 0, 0, 1);
}
.return_svg {
  width: 50%;
  height: 50%;
  overflow: visible;
  transform: translateX(-5%);
  z-index: 3;
}
.arr-1 {
  fill: none;
  stroke: #e9e7e7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4vw;
  transition: stroke 0.8s 0.22s cubic-bezier(0.25, 0, 0, 1);
}
.return_overlay {
  content: "";
  border-radius: 50%;
  position: absolute;
  background: #e9e7e7;
  clip-path: circle(0% at top 5% right 30%);
  width: 105%;
  height: 105%;
  z-index: 2;

  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.return_button:hover .return_overlay {
  clip-path: circle(100% at top 5% right 30%);
}
.return_button:hover .arr-1 {
  stroke: #292929;
}
.return_button:hover {
  background: #e9e7e7;
}

#main_scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: fit;
  max-width: 100vw;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0s linear;
}

.section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}

#sec1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3vw;
  height: 75vw;
}
#sec1::after {
  content: "";
  pointer-events: none;
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, #15151500, #151515 97%);
  position: absolute;
  bottom: 0;
  z-index: 2;
  transform: translateY(1vw);
}
.top_header {
  height: 7.5vw;
  width: 100vw;
  background: #292929;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 4vw;
  padding-left: 4vw;
  h1,
  h2 {
    font-size: 0.7rem;
    text-align: center;

    color: #e9e7e7;
  }
  h1 {
    margin-left: 6vw;
  }
  h2 {
    font-weight: 400;
  }
}

@keyframes secondTitle {
  0% {
    opacity: 0;
    letter-spacing: -5rem;
  }
  100% {
    opacity: 1;
    letter-spacing: 0;
  }
}

.header_pic {
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 75vw;
  gap: 0.3vw;

  .main_pic {
    background-color: #151515;
    background-image: url(../Images/header_pic.jpg);
    background-position-x: center;
    background-position-y: -10%;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 77vw;
    height: 110%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 5vw;

    transition: all 2s 0.8s cubic-bezier(0.25, 0, 0, 1), padding-top 0s linear,
      background-position-y 0s linear;

    h1 {
      animation: secondTitle 2s cubic-bezier(0.25, 0, 0, 1) 0.2s forwards;
      transition: all 0s linear;

      overflow-y: hidden;

      color: white;
      // background-clip: text;
      // -webkit-background-clip: text;
      position: relative;
      overflow: visible;

      margin-left: 4vw;
      font-size: 7vw;
      font-weight: 900;
      // backdrop-filter: invert(1);
      mix-blend-mode: difference;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    span {
      font-size: 1vw;
      font-weight: 600;
      transform: rotate(90deg);
      display: inline-block;
      text-align: start;

      overflow-y: hidden;
      margin-left: -1.5vw;
      margin-right: -1.5vw;
    }
    h1::selection,
    span::selection {
      background: #e9e7e7;
      color: #15151580;
    }
  }
  .side_pic {
    background-color: #151515;
    background-image: url(../Images/header_pic.jpg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: 690%;

    flex: auto;
    height: 110%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 2s 0.8s cubic-bezier(0.25, 0, 0, 1), padding-top 0s linear,
      background-position-y 0s linear;

    #circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 20vh;
      gap: 5vh;
      height: 50vh;

      transition: all 2s 0.8s cubic-bezier(0.25, 0, 0, 1),
        margin-bottom 0s linear;

      div {
        width: 2vw;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #e9e7e7;
      }
      #div2 {
        background: none;
        border: solid 1px #e9e7e7;
      }
    }
    h2 {
      color: white;
      font-size: 0.5rem;
      letter-spacing: 4px;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      width: 1vw;
      transform: rotate(90deg);

      text-overflow: visible;
      white-space: nowrap;

      transition: all 2s 0.8s cubic-bezier(0.25, 0, 0, 1),
        letter-spacing 0s linear;
    }
  }
  #sp2 {
    background-position-x: 100%;
    background-position-y: 0%;
  }
}

.header_contents {
  width: 77%;
  height: 50%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
  color: #e9e7e7;

  text-align: center;

  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 5vh;

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 3.6rem;
    font-size: 2.6rem;
    width: 560px;

    margin-bottom: 2vh;
    overflow: hidden;
  }
  span {
    display: inline-block;
  }
  p {
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 1.65vw;
  }
  .line {
    height: 3px;
    width: 0;
    background: #e9e7e7;
    margin-bottom: 2vh;
    transition: all 2s cubic-bezier(0.25, 0, 0, 1);
  }
}
.pending {
  transform: translateY(10rem);
  opacity: 0;
}
#sec2 {
  background: #151515;

  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: 2vh;
  overflow: hidden;

  .line {
    width: 1px;
    background: #e9e7e7;
    min-height: 100vh;
    height: 100%;
  }

  .row {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #left {
    align-items: flex-end;
    justify-content: center;
    width: 38%;
    padding-right: 5vw;
    filter: url("#LumaMask");
  }
  #right {
    width: 62%;
    padding-left: 5vw;
    padding-right: 8vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: justify;
    p {
      margin-bottom: 1vw;
      font-weight: 400;
      color: #e9e7e7;
      font-size: 1.1vw;
      line-height: 1.65vw;
    }
  }
  video {
    width: 25vw;
    height: auto;
    position: absolute;
    top: 5vh;
  }
}
.main_block {
  mix-blend-mode: multiply;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: white;
  text-transform: uppercase;

  position: relative;

  transform: skewY(0);

  transition: all 1.3s cubic-bezier(0.25, 0, 0, 1);

  .Black_matte {
    background: black;
    position: absolute;
    width: 102%;
    height: 150vh;
    z-index: -1;
    transform: translateX(1%);
  }

  .block_line {
    height: 3px;
    width: 7vw;
    background: white;
    margin-bottom: 1vw;
    margin-right: 3vw;
  }
  #line2 {
    margin-right: 0;
  }
  #line3 {
    width: 14.3vw;
    position: absolute;
    margin-right: 0;
    bottom: -1vw;
    left: 0;
  }

  .SceneBox {
    background: white;
    width: 25vw;
    height: 10vw;

    text-align: start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  h5 {
    position: absolute;
    text-align: start;

    color: black;
    font-weight: 900;
    font-size: 4vw;
    line-height: 3.3vw;
  }

  #h502 {
    color: transparent;
    -webkit-text-stroke: 1pt black;

    transform: translateX(2px) translateY(2px);
    pointer-events: none;
  }

  h2 {
    font-size: 1.3vw;
    font-weight: 800;
    line-height: 2.2vw;
    letter-spacing: 0.3px;
  }
  #center {
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: flex-end;
    justify-content: center;
    div {
      height: 3px;
      width: auto;
      flex: auto;
      background: white;
    }
  }
  h3 {
    font-size: 1.3vw;
    font-weight: 600;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  .BottomBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
  }
  .leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    position: relative;

    transition: all 1.8s cubic-bezier(0.25, 0, 0, 1);

    transform: translateX(-30vw);
  }
  .question {
    background: white;
    width: 4vw;
    height: 5.7vw;
    margin-bottom: 1vw;

    text-align: center;

    transform: translateX(15vw);

    transition: all 1.8s cubic-bezier(0.25, 0, 0, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

#sec3 {
  background: #e9e7e7;
  box-shadow: 0 -3vw 2.7vw #000000bd;

  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .col {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #left_col {
    width: 38%;
    height: 100vh;
    padding-left: 5vw;

    padding-right: 5vw;
    background: #db7fd3;

    transition: all 1s cubic-bezier(0.25, 0, 0, 1), transform 0s linear;

    h1 {
      color: #292929;
      font-weight: 900;
      text-align: center;
      font-weight: 900;
      font-size: 2.2vw;
      width: 25vw;
    }
  }
  #right_col {
    width: 62%;
    padding-left: 5vw;
    padding-right: 8vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    p {
      color: #151515;
      font-weight: 500;
      font-size: 1.1vw;
      line-height: 1.65vw;
      text-align: justify;
    }
    br {
      content: "";
      display: block;
      margin: 1vw 0;
    }
    h3 {
      width: 100%;
      margin-top: 3vw;
    }

    #KTS {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      position: relative;
      gap: 2vw;
      margin-bottom: 1vw;

      .img::after {
        content: "";
        height: 2px;
        width: 5vw;
        position: absolute;
        top: 1vw;
        left: -1.3vw;
        background: white;
      }
      .img {
        // background-image: url(../Images/fashion_omnichannel.png);
        background-position: 45% 30%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        aspect-ratio: 1;

        position: relative;

        display: flex;
        flex-direction: column;

        align-items: flex-end;
        justify-content: flex-start;
        padding-top: 5vw;
        h2 {
          text-transform: uppercase;
          font-weight: 900;
          color: white;
          transform: translateX(62%);
          mix-blend-mode: difference;
          span {
            font-size: 0.7vw;
            font-weight: 600;
            font-style: italic;
            display: inline-block;
            margin-left: 0.5vw;
          }
          br {
            margin: 0.3vw 0;
          }
        }
        h2::after {
          content: "";
          height: 2px;
          width: 3vw;
          position: absolute;
          bottom: -1vw;
          right: -1.3vw;
          background: white;
        }
      }
      #cnt {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        aspect-ratio: 1;
      }
      p {
        margin-bottom: 2vw;
        text-align: left;

        sub {
          font-size: 0.9vw;
          font-style: italic;
          font-weight: 500;
          display: inline-block;
          width: 100%;
          text-align: right;
        }
      }
      .shape {
        width: 100%;

        display: flex;
        flex-direction: column;

        align-items: flex-end;

        gap: 0.5vw;

        .ss {
          width: 3vw;
          height: 2px;
          background: #292929;
        }
        #ss2 {
          margin-right: 2vw;
          width: 1vw;
        }
        #ss3 {
          margin-right: 0.5vw;
          width: 2.5vw;
        }
      }
    }
  }
  .sketchfab-embed-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #292929;
  }
}

#sec4 {
  background: #e9e7e7;
}
