.App {
  width: 100vw;
  height: 100vh;
}

#main_scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

.nav_container {
  width: 100vw;
  height: auto;
  color: #e9e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#15151500));
  background: linear-gradient(to bottom, #151515, #15151500);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1), width 0s linear;
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1), width 0s linear;
}

.Nav_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: #15151500;
  top: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.nav_container:hover .Nav_overlay {
  background: #151515;
}

.Pop_Up {
  min-width: 92vw;
  min-height: 300px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: none;
  transition: none;
  pointer-events: none;
  overflow: hidden;
}

.Pop_Elements {
  pointer-events: none;
  background: #e9e7e7;
  width: 100%;
  min-height: 60px;
  height: auto;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  -webkit-transform: translateY(-104%);
          transform: translateY(-104%);
}

.Pop_Elements .Ver_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  position: relative;
  width: 1px;
  background: #99999999;
}

.Pop_Elements .column {
  color: #151515;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Pop_Elements .column h1 {
  color: #212121;
  font-family: "Futura";
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.Pop_Elements .column h5,
.Pop_Elements .column a {
  color: #212121;
  font-family: "Futura";
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 3px;
  line-height: 1.3rem;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.Pop_Elements .column h5 {
  text-decoration: underline;
}

.Pop_Elements .column a {
  text-decoration: none;
}

.Pop_Elements .column a:hover {
  opacity: 0.3;
}

.Pop_Elements .column .tag_description {
  width: 100%;
  margin-left: 5px;
  opacity: 0;
  -webkit-transition: all 1.3s cubic-bezier(0.25, 0, 0, 1);
  transition: all 1.3s cubic-bezier(0.25, 0, 0, 1);
  z-index: 2;
  position: relative;
}

.Pop_Elements .column .tag_description::after {
  content: "";
  height: 100%;
  position: absolute;
  left: -10px;
  bottom: 0;
  width: 3px;
  background: #e9e7e7;
}

.Pop_Elements .column h2 {
  color: #e9e7e7;
  font-family: "Futura";
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 3px;
  line-height: 1rem;
  margin-bottom: 10px;
}

.Pop_Elements .column h3 {
  color: #e9e7e7;
  font-family: "Futura";
  font-weight: 400;
  font-size: 0.6rem;
  letter-spacing: 1px;
}

.Pop_Elements .column p {
  max-width: 180px;
  color: #212121;
  font-family: "Futura";
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
}

.Pop_Elements .Pop_image {
  cursor: pointer;
  background-color: #c9c7c7;
  min-width: 50px;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: all 1.3s cubic-bezier(0.25, 0, 0, 1);
  transition: all 1.3s cubic-bezier(0.25, 0, 0, 1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

.Pop_Elements .Pop_image::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 62%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000000));
  background: linear-gradient(to bottom, #00000000, #000000);
  opacity: 0;
  -webkit-transition: all 1.3s cubic-bezier(0.25, 0, 0, 1);
  transition: all 1.3s cubic-bezier(0.25, 0, 0, 1);
}

.Pop_Elements .Pop_image:hover {
  background-size: 130%;
}

.Pop_Elements .Pop_image:hover::before,
.Pop_Elements .Pop_image:hover .tag_description {
  opacity: 1;
}

.Pop_Elements .Tag_logo {
  min-width: 150px;
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.Pop_Elements .Socials {
  min-width: 38px;
  min-height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.Pop_Elements .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
}

#Tin-moi #Latest {
  width: 360px;
  height: 240px;
  background-image: url("https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?crop=entropy&cs=srgb&dl=pexels-freestocksorg-291762.jpg&fit=crop&fm=jpg&h=853&w=1280");
}

#Tin-moi #Trending {
  width: 160px;
  height: 240px;
  background-position: top left;
  background-image: url("https://images.pexels.com/photos/1926769/pexels-photo-1926769.jpeg?crop=entropy&cs=srgb&dl=pexels-konstantin-mishchenko-1926769.jpg&fit=crop&fm=jpg&h=959&w=640");
}

#Thoi-trang-ao #Recommend {
  width: 360px;
  height: 240px;
  background-image: url("https://images.pexels.com/photos/5872/fashion-red-yellow-designer-5872.jpg?crop=entropy&cs=srgb&dl=pexels-kaboompics-com-5872.jpg&fit=crop&fm=jpg&h=853&w=1280");
}

#Thoi-trang-ao #Nothing {
  width: 160px;
  height: 240px;
  background-position: top left;
  background-image: url("https://images.pexels.com/photos/1926769/pexels-photo-1926769.jpeg?crop=entropy&cs=srgb&dl=pexels-konstantin-mishchenko-1926769.jpg&fit=crop&fm=jpg&h=959&w=640");
}

#Thoi-trang-ao h5 {
  margin-top: 20px;
}

#Virtual-influencer h5 {
  margin-top: 40px;
}

#Virtual-influencer #Lil-Miquela {
  width: 240px;
  height: 240px;
  background-image: url("https://snobette.com/wp-content/uploads/2020/05/lil-miquela-signs-with-CAA-2-1005x1024.jpg");
}

#Virtual-influencer #Shudu-Gram {
  width: 240px;
  height: 240px;
  background-position: top;
  background-image: url("https://image.phunuonline.com.vn/fckeditor/upload/2021/20210911/images/nguoi-mau-ao_421631352461.jpg");
}

#Virtual-influencer h2 {
  margin-bottom: 0;
}

#Ve-chung-toi #VDFM {
  background-image: url(../Vectors/VDFM.svg);
}

#Ve-chung-toi #MAD-THC {
  background-image: url(../Vectors/MADTHC.svg);
}

#Lien-he strong {
  font-weight: 550;
  text-decoration: underline;
  color: #212121;
  letter-spacing: 1px;
}

#Lien-he #Email {
  margin-bottom: 10px;
}

#Lien-he #Email strong {
  font-weight: 650;
}

#Lien-he #FB {
  background-image: url(../Vectors/FB.svg);
}

#Lien-he #IG {
  background-image: url(../Vectors/IG.svg);
}

#Lien-he #LinkedIn {
  background-image: url(../Vectors/LinkedIn.svg);
}

#Lien-he .row {
  gap: 30px;
  margin-top: 10px;
}

#Lien-he h5 {
  margin-top: 10px;
}

.main_nav {
  width: 100%;
  height: auto;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-left: 2vw;
  padding-right: 2vw;
}

.main_nav h5 {
  font-weight: 400;
  font-size: 0.7rem;
  opacity: 50%;
}

.left_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 110px;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.center_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60px;
}

.center_nav .logo {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #e9e7e7;
}

.center_nav .logo h1 {
  font-family: "Monument Extended";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 40px;
  letter-spacing: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.center_nav .logo h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 10px;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.center_nav .logo:hover h1 {
  font-size: 3.2rem;
  letter-spacing: 5px;
  line-height: 70px;
}

.center_nav .logo:hover h2 {
  line-height: 0;
  opacity: 0;
}

.center_nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right_nav {
  opacity: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 110px;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.right_nav .srch-1 {
  fill: none;
}

.right_nav .srch-2 {
  fill: none;
  stroke: #e9e7e7;
  stroke-miterlimit: 10;
  stroke-width: 60px;
}

.right_nav .Search_bar {
  height: auto;
  width: auto;
  position: relative;
}

.right_nav #search_icon {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 30px;
  height: 30px;
  overflow: visible;
  pointer-events: none;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.right_nav input {
  color: #e9e7e7;
  width: 40px;
  height: 40px;
  background: none;
  border: solid 2px #e9e7e7;
  outline: none;
  border-radius: 20px;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  padding-left: 10px;
  padding-right: 10px;
}

.right_nav input:hover,
.right_nav input:focus,
.right_nav input:valid {
  width: 160px;
}

.liB {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e9e7e7;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 0.85rem;
  font-family: "Futura";
  text-transform: uppercase;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.liB div {
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.spanB {
  width: auto;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 1.5px;
  right: 1.5px;
  background: #e9e7e7;
  z-index: -1;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.liA {
  color: #151515;
}

.spanA {
  height: 100%;
}

.Pop_Elements_Active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

section {
  width: 100vw;
  min-height: 80vh;
  position: relative;
}

#Carrousel {
  height: 80vh;
  overflow: visible;
}

#Carrousel::after {
  content: "";
  background: #151515;
  opacity: 40%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Slide_Dots_Count {
  height: 50px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.Slide_Dots_Count .Dots_Items {
  padding: 10px;
  cursor: pointer;
}

.Slide_Dots_Count .Dots_Items div {
  height: 10px;
  width: 10px;
  border: solid 1px #e9e7e7;
  -webkit-box-shadow: 0 0 1vw #000000c0;
          box-shadow: 0 0 1vw #000000c0;
  border-radius: 5px;
  background: #e9e7e700;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.Slide_Dots_Count .Dots_Items:hover div {
  background: #e9e7e7;
}

.Carrousel_button {
  height: 100%;
  width: 80px;
  position: absolute;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Carrousel_button .Carrousel_button_Svg {
  width: 25px;
  height: 120px;
  overflow: visible;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.Carrousel_button .Carrousel_button_Svg:hover {
  opacity: 1;
}

.Carrousel_button .arr-1 {
  fill: none;
  stroke: #e9e7e7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 25px;
}

#Prev {
  left: 0;
}

#Next {
  right: 0;
}

#Next .Carrousel_button_Svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.Carrousel_Slider {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 0;
  overflow: visible;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.Carrousel_Items {
  width: 100vw;
  height: 100%;
}

.Carrousel_Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 50px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: "Futura";
}

.Carrousel_Title .Title_Holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  color: #e9e7e7;
  cursor: pointer;
  pointer-events: none;
  z-index: 2;
  display: flex;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.Carrousel_Title .Title_Holder a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.Carrousel_Title .Title_Holder h1 {
  width: auto;
  max-width: 88vw;
  font-weight: 100;
  font-size: 2.2rem;
  letter-spacing: -2px;
  line-height: 2.2rem;
  text-transform: uppercase;
  -webkit-transition: all 1.3s cubic-bezier(0.25, 0, 0, 1), letter-spacing 2s cubic-bezier(0.25, 0, 0, 1);
  transition: all 1.3s cubic-bezier(0.25, 0, 0, 1), letter-spacing 2s cubic-bezier(0.25, 0, 0, 1);
  margin-top: 4px;
}

.Carrousel_Title .Title_Holder h1::after {
  width: 50%;
  content: "";
  height: 2px;
  background: #e9e7e7;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  opacity: 0;
  margin: auto;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.Carrousel_Title .Title_Holder h2 {
  max-width: 93vw;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0.2vw;
  line-height: 1.5rem;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.Carrousel_Title .Title_Holder:hover h1::after {
  width: 100%;
  opacity: 1;
}

#ISlot1 {
  background-position: top;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/1126993/pexels-photo-1126993.jpeg?crop=entropy&cs=srgb&dl=pexels-evg-culture-1126993.jpg&fit=crop&fm=jpg&h=1280&w=1920");
}

#ISlot2 {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/35188/child-childrens-baby-children-s.jpg?crop=entropy&cs=srgb&dl=pexels-bess-hamiti-35188.jpg&fit=crop&fm=jpg&h=1346&w=2048");
}

#ISlot3 {
  background-position: top;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/247298/pexels-photo-247298.jpeg?crop=entropy&cs=srgb&dl=pexels-pixabay-247298.jpg&fit=crop&fm=jpg&h=1279&w=1920");
}

#sec2 {
  background: pink;
}

#sec3 {
  background: lightskyblue;
}

#sec4 {
  background: violet;
}

#sec5 {
  background: brown;
}
/*# sourceMappingURL=App.css.map */